@{
    Layout = "~/Views/Shared/_Index.cshtml";

}
<script>
    $(function () {
        gridList();
    });

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/Maintenance/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '任务名称', name: '任务名称', width: 200, align: 'left' },
                { label: '任务描述', name: '任务描述', width: 200, align: 'left' },
                { label: '任务来源', name: '任务来源', width: 100, align: 'left' },
                { label: '任务类型', name: '任务类型', width: 100, align: 'left' },
                { label: '处理人', name: '处理人', width: 100, align: 'left' },
                { label: '创建人', name: '创建人', width: 200, align: 'left' },
                { label: '创建单位', name: '创建单位', width: 200, align: 'left' },
                { label: '操作', name: '操作', width: 100, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'F_WarehouseName asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新建巡查任务",
            url: "/Maintenance/CreatePatrolTask",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "查看巡查任务",
            url: "/Maintenance/ScanPatrolTask",
            width: "800px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_handle() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "处理维保任务",
            url: "/Maintenance/HandleMaintenanceTask",
            width: "800px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建维保任务</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>查看巡查任务</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <form class="form-inline">
                        <div class="form-group">
                            <label>任务状态</label>
                            <select>
                                <option>全部</option>
                                <option>进行中</option>
                                <option>已完成</option>
                                <option>异常终止</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>参与类型</label>
                            <select>
                                <option>待我处理的</option>
                                <option>我创建的</option>
                                <option>待我单位处理的</option>
                                <option>我单位创建的</option>
                                <option>我单位参与的</option>
                                <option>抄送我单位的</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>任务类型</label>
                            <select>
                                <option>全部</option>
                                <option>单次任务</option>
                                <option>周期任务</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
